body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    height: 400px;
    margin: 50px auto;
    background: #800000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
}
#botoes {
    text-align: center;
}
a {
    text-decoration: none;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 4px;
    display: block;
}




